@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Poppins&display=swap');
*{
    margin:0;
    padding:0;
}
body{
    width:100%;
    height:100%;
    background-image: url('https://i.gifer.com/V1x.gif');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Aclonica';
}
nav{
    background-color: black;
    display:flex;
    justify-content: center;
    align-items:center ;
    overflow: hidden;
    position: fixed;
    width:100%;
    top:0;
}
a{
    text-decoration: none;
    color:white;
    font-size: 25px;
}
nav ul{
    display:inline;
    justify-content: center;
    padding:15px;
    flex-wrap: wrap;
}
nav ul li{
    display:inline;
    justify-content: center;
    padding:15px;
    align-items: center;
}
nav ul li:hover{
    background-color: red;
}
.image{
    width:200px;
    height:300px;
    position:absolute;
    opacity:0.7;
}
.container{
    position:relative;
    width:200px;
    height:300px;
    margin-top: 13%;
    margin-left: 40%;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}
.container span{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform-origin:center;
    transform-style: preserve-3d;
    transform:rotateY(calc(var(--i)*36deg)) translateZ(350px);
}
.container span:hover .image{
    transform:translateY(-50px) scale(1.2);
    opacity:1;
    box-shadow: 4px 4px 40px 10px  red;
    transform:translateX(20px);
}
@keyframes rotate {
    0%{
        transform:perspective(1000px) rotateY(0deg);
    }
    100%{
        transform:perspective(1000px) rotateY(360deg);
    }
}
.card{
    width:220px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
    border: solid red;
    margin:15px;
}
.card:hover{
    transform:translateY(-50px) scale(1);
    box-shadow: 4px 4px 40px 10px  gold;
    transform:translateX(20px); 
}
.cards{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    margin:20px;
}
.image1{
    width:220px;
    height:280px;
    opacity: 0.8;
}
.image1:hover{
    opacity:1;
}
.heading{
    background-color: gold;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.name{
    color:red;
    display:flex;
    justify-content: center;
    padding-top: 15px;
    cursor: pointer;
    font-family: 'Aclonica';
}
.name1{
    color:red;
    display:flex;
    justify-content: center;
    margin-left: 30px;
    padding-top: 5px;
    cursor: pointer;
}
.histry{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    margin:80px;
}
.para{
    color:gold;
    font-size: 50px;
}
.para1{
    color:gold;
    font-size: 30px;
}
footer{
    position:relative;
    width:100%;
    background: red;
    min-height: 100px;
    padding: 20px 50px;
    align-items: end;
}
.foot{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.foot li{
    list-style: none;
    display:inline;
    margin:20px;
}
.fpara{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}